# Django
DJANGO_SECRET_KEY=change-me-in-prod
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

# Veritabanı seçimi: postgres | sqlite
DB_ENGINE=sqlite

# PostgreSQL (DB_ENGINE=postgres iken kullanılır)
POSTGRES_DB=admix_erp
POSTGRES_USER=admix
POSTGRES_PASSWORD=admix
POSTGRES_HOST=db
POSTGRES_PORT=5432
